<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Android TV Desteği -->
    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:banner="@drawable/ic_tv_banner"
        android:supportsRtl="true"
        android:theme="@style/Theme.UzunsIPTV"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".SeriesDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".SeriesActivity"
            android:exported="false" />
        <activity
            android:name=".SelectionActivity"
            android:exported="true"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <!-- Android TV Ana Ekran -->
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".DashboardActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".LiveTvActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".AccountsActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".SettingsActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".M3uActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".PlayerActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".VodActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".VodDetailsActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".TrailerActivity"
            android:exported="false"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
    </application>

</manifest>
